{% include base_path %}

<div class="publication-item">

  {% if post.preview %}
  <div class="publication-preview">
    <img src="{{ post.preview | relative_url }}" alt="{{ post.title }}">
  </div>
  {% endif %}

  <div class="publication-info">

    <div class="publication-title">
      {{ post.title }}
    </div>

    {% if post.authors %}
    <div class="publication-authors">
      {{ post.authors | markdownify }}
    </div>
    {% endif %}

    <div class="publication-links">
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}">[Paper]</a>
      {% endif %}

      {% if post.codeurl %}
        <a href="{{ post.codeurl }}">[Code]</a>
      {% endif %}

      {% if post.projecturl %}
        <a href="{{ post.projecturl }}">[Project]</a>
      {% endif %}
    </div>

  </div>

</div>
