{% include base_path %}

<div class="publication-card">

  <div class="publication-card__preview">
    {% if post.preview %}
      <img src="{{ post.preview | relative_url }}" alt="{{ post.title }}">
    {% endif %}
  </div>

  <div class="publication-card__content">

    <h2 class="publication-card__title">
      {{ post.title }}
    </h2>

    {% if post.authors %}
      <div class="publication-card__authors">
        {{ post.authors | markdownify }}
      </div>
    {% endif %}

    <div class="publication-card__links">
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}">[Paper]</a>
      {% endif %}

      {% if post.projecturl %}
        <a href="{{ post.projecturl }}">[Project]</a>
      {% endif %}

      {% if post.codeurl %}
        <a href="{{ post.codeurl }}">[Code]</a>
      {% endif %}

      {% if post.bibtexurl %}
        <a href="{{ post.bibtexurl }}">[Bibtex]</a>
      {% endif %}
    </div>

  </div>

</div>
